body {
  background-color: #DADADA;
}

.main-heading {
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas: 
   "image sidebar"
   "slider sidebar";
   height: 100vh;
}

.image {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 15px;
  display: flex;
}

.input-imgText {
  color: white;
  background-color: transparent;
  align-items: stretch;
}
.uploaded-img {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
  width: 70%;

}

.sidebar {
  background-color: #CCCCFF;
  padding: 5px;
  border: black solid;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  flex-wrap: wrap;
  align-items: stretch;
}
.sidebar-items-btn {
  margin-top: 10px;
  padding: 12px;
  background-color: transparent;
  border: none;
  width: 80%;
  border-top: blueviolet solid;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  cursor: pointer;
  outline: none;
  transition: background-color 150ms;
}
.sidebar-items-btn:hover {
  background-color: #971ddd63;
  border-radius: 10px;
}
.active {
  background-color: rgba(250, 0, 250, 0.356);
  border-radius: 5px;
  
}


.slider-container {
  grid-area: "slider";
  padding: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  
}

.slider {
  width: 100% !important;
  cursor: pointer !important;
  
}

@media (max-width: 500px) {
  .container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
     "image"
     "slider"
     "sidebar";
     width: 100vw;
  }

  .sidebar {
    background-color: #CCCCFF;
    padding: 5px;
    margin: 8px;
    border: none;
   
  }
  .uploaded-img {
    width: 80%;
    height: 80%;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* background-position: top center;
    background-size: contain; */
    background-repeat: no-repeat;
    background-color: #fff;
  }
}
